<p id="notice"><%= notice %></p>

<div class="fluid-container" style="margin-top: 70px">
  <div class="row">

    <div class="col-sm-2 sidebar-main">
      <%= render 'chatrooms/indexsidebar' %>
    </div>

    <div class="col-sm-10 col-sm-offset-2">
      <h1>Chatrooms</h1>
      <div class="main-index">  
        <table>
          <tbody>
            <% @chatrooms.each do |chatroom| %>
              <tr>
                <td><h5><%= chatroom.name %></h5></td>
                <td><%= link_to 'Show', chatroom %></td>
                <td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td>
                <td><%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to 'Join', chatroom_chatroom_users_path(chatroom), method: :post %></td> 
                <td><%= link_to 'Leave', chatroom_chatroom_users_path(chatroom), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br />
        <%= link_to 'New Chatroom', new_chatroom_path %>
      </div>          
      
    </div>
  </div>
</div>