<p id="notice"><%= notice %></p>

<div class="wrapper" style="margin-top: 50px">


  <nav id="sidebar">
    <%= render 'chatrooms/indexsidebar' %>
  </nav>

  <div id="index-main">   
    <h1>Channels</h1>
    <table id="index-table">
      <tbody id="index-table-body">
        <% @chatrooms.each do |chatroom| %>
          <tr id="index-table-rows">
            <td><h5><%= chatroom.name %></h5></td>
            <td><%= link_to image_tag("join-24px.svg", border: 0), chatroom %></td>
            <td><%= link_to image_tag("add-24px.svg", border: 0), chatroom_chatroom_users_path(chatroom), method: :post %></td> 
            <td><%= link_to image_tag("remove-24px.svg", border: 0), chatroom_chatroom_users_path(chatroom), method: :delete %></td>
            <td><%= link_to image_tag("edit-24px.svg", border: 0), edit_chatroom_path(chatroom) %></td>
            <td><%= link_to image_tag("delete-24px", border: 0), chatroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <span id="index-new-room-btn">  
      <%= link_to 'Create a New Channel', new_chatroom_path, id: "new_room_link", remote: true %>  
    </span>

  </div>

  </div>
</div>